<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151838551939-kugloorn88t2093l8icd52t39d316kib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151838551939-kugloorn88t2093l8icd52t39d316kib</string>
	<key>API_KEY</key>
	<string>AIzaSyCMCTT8NDMtdfDGKDOOhALKE0YfQRVSqZA</string>
	<key>GCM_SENDER_ID</key>
	<string>151838551939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>auth-weather-app</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-weather-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151838551939:ios:86945debc50257dc1990b6</string>
</dict>
</plist>